.posts {

  button {
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--highlight);
    margin-top: 4rem;
  }

  .post {

    display: block;
    margin-top: 3rem;

    &:hover strong {
      color: var(--highlight);
    }

    strong {
      font-size: 1.75rem;
      line-height: 2.118rem;
      transition: color 0.3s;
      color: var(--heading);
    }

    p {
      font-size: 1.125rem;
      color: var(--body);
      margin-top: 0.5rem;
    }

    ul {
      display: flex;
      margin-top: 1.5rem;
      gap: 1.5rem;
      list-style: none;

      li {
        display: flex;
        align-items: center;

        time {
          font-size: 0.875rem;
          margin-left: 0.5rem;
          color: var(--info);
        }
    
        span {
          font-size: 0.875rem;
          margin-left: 0.5rem;
          color: var(--info);
        }
      }
    }
  }
}