.banner {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.header_post {

  margin-top: 5rem;

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  ul {
    display: flex;
    margin-top: 1.5rem;
    gap: 1.5rem;
    list-style: none;

    li {
      display: flex;
      align-items: center;

      time {
        font-size: 0.875rem;
        margin-left: 0.5rem;
        color: var(--gray-300);
      }
  
      span {
        font-size: 0.875rem;
        margin-left: 0.5rem;
        color: var(--gray-300);
      }
    }
  }
}

.content_post {

  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--gray-200);

  h2 {
    display: inline-block;
    margin: 3rem 0 1rem 0;
    font-size: 2rem;
  }

  ul {
    flex-direction: column;

    li {
      line-height: 2rem;
    }
  }

  strong {
    color: var(--pink);
  }
}
//   .content {
    
//     margin-top: 4rem;

//     h2 {
//       font-size: 2.25rem;
//     }

//     .body {

//       article {
//         display: block;
//         background: red;
//         margin-top: 6rem;

//         h2 {
//           display: inline-block;
//           margin-top: 2rem;
//         }
//       }

//       h2 {
//         display: block;
//         margin-top: 3rem;
//         background-color: red;
//       }

//       ul {
//         display: flex;
//         flex-direction: column;
//         font-size: 1rem;
//       }

//       p {
//         font-size: 1rem;
//       }
     
//     }

//     .body {
//       margin-top: 1rem;
//       font-size: 1.125rem;
//       font-weight: 400;
//       color: var(--gray-200);
//     }

//     strong {
//       color: var(--pink);
//     }
//   }
// }
